In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [2]:
train = pd.read_csv('../train.csv')

In [3]:
test = pd.read_csv('../test.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
sex_mapping = {'male':0,'female':1}
train['Sex'] = train['Sex'].map(sex_mapping)

In [6]:
test['Sex'] = test['Sex'].map(sex_mapping)

In [7]:
train_test_data = [train,test]

In [8]:
for dataset in train_test_data:
    dataset['Title']=dataset['Name'].str.extract('([A-Za-z]+)\.',expand=False)

In [9]:
train['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Countess      1
Ms            1
Lady          1
Jonkheer      1
Don           1
Mme           1
Capt          1
Sir           1
Name: Title, dtype: int64

In [10]:
title_maping = {'Mr':0,'Miss':1,'Mrs':2,'Master' :3,'Dr':3,'Rev':3,'Col':3,'Major':3,'Mlle':3,'Countess':3,'Ms':3,'Lady':3,'Jonkheer':3,'Don':3,'Mme':3,'Capt':3,'Sir':3 }

In [11]:
for dataset in train_test_data:
    dataset['Title']=dataset['Title'].map(title_maping)

In [12]:
train.drop('Name',axis=1,inplace=True)
test.drop('Name',axis=1,inplace=True)

In [13]:
train.groupby("Title")['Age'].transform("median")
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,1,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,0,35.0,0,0,373450,8.0500,NaN,S,0

In [14]:
train['Age'].fillna(train.groupby("Title")['Age'].transform('median'),inplace=True)

In [15]:
test['Age'].fillna(test.groupby("Title")['Age'].transform('median'),inplace=True)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [17]:
train=train.drop('Ticket',1)
train=train.drop('Cabin',1)

In [18]:
e_map={'S':1,'C':2,'Q':3}
train['Embarked']=train['Embarked'].map(e_map)
train['Embarked']=train['Embarked'].fillna(0)

In [19]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
Title          0
dtype: int64

In [20]:
x=np.array(train.drop('Survived',1))
y=np.array(train['Survived'])
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [22]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten()) #first layer
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2,activation = tf.nn.softmax))
model.compile(optimizer='adam',loss='binary_categorical_crossentropy',metrics=['accuracy'])
model.fit(X_train,Y_train,epochs=100)

NameError: name 'tf' is not defined